
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>华云支付 | 华视软件</title>
<link rel="stylesheet" href="/css/pay.css?v=20170118">
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.qrcode.min.js"></script>
<script type="text/javascript">
  function getRequest() {
      var url = window.location.search; //获取url中"?"符后的字串
      var theRequest = new Object();
      if (url.indexOf("?") != -1) {
        var str = url.substr(1);
        strs = str.split("&");
        for(var i = 0; i < strs.length; i ++) {
          theRequest[strs[i].split("=")[0]]=decodeURI(strs[i].split("=")[1]);
        }
      }
      return theRequest;
    }
$(function(){
  if(getRequest().type && getRequest().type == 3){
        $(".paytype").html("微信:1元=10000币")
        $("li[data-type=3]").addClass("on");
        $("#bank1").find(":radio").attr("checked","checked");
        $(".btn_submit").removeClass("disabled");
        $(".btn_submit").click(function(){
            $('#gateway').submit();
        })
  }else{
        $(".paytype").html("支付宝:1元=10000币")
        $("li[data-type=2]").addClass("on");
        $("#bank0").find(":radio").attr("checked","checked");
        $(".btn_submit").removeClass("disabled");
        $(".btn_submit").click(function(){
            $('#gateway').submit();
        })
  }
  $(".siteName").html("| 收款商家："+getRequest().sites)
   $(".way").click(function(){
       $(".way").removeClass("on");
       $(".pay_sedway").hide();
       $(this).addClass("on");
       $("#t_"+this.id).show();
       $("#t_"+this.id).find("ul>li:first").click();
   });

    $(".bank").click(function(){
        $(".bank").removeClass("on");
        $(this).addClass("on");
        $(this).find(":radio").attr("checked","checked");
        $(".btn_submit").removeClass("disabled");
        $(".btn_submit").click(function(){
            $('#gateway').submit();
        })
    });
});
</script>
</head>

<body>
<div id="menu" class="sitemenu">
    <div class="smcontent">
       <div class="logo"><img src="/images/bank/logo.png" /></div>
       <div class="mmenu" style="display:none">
          <ul>
             <li onClick="location.href='index.html'" onMouseOver="this.className='on'" onMouseOut="this.className=''"><h2>首页</h2></li>
             <li onClick="location.href='download.html'" onMouseOver="this.className='on'" onMouseOut="this.className=''"><h2>下载</h2></li>
             <li class="on"><h2>更新</h2></li>
          </ul>
       </div>
       <div class="mqmenu"><h2>您好，欢迎使用华云支付付款！</h2></div>
    </div>
</div>
<div class="payment_frame">
    <div class="pf_content">
       <div class="pay_client">
           <h2>购买商品：<span class="paytype"></span> <span class="siteName"> | 收款商家：</span><br>订单号：<span class="order_num"></span></h2><h3>订单金额：<span class="order_money"></span>元</h3>
       </div>
       <div class="pay_choose">
            
            <input type="hidden" name="oid" value="201704261752170601">
                <div class="pay_sedway" id="t_way0">
                    <div class="title"><h2>请选择银行：</h2></div>
                    <div class="content">
                        <ul>
                            <li class="bank" id="bank0" data-type='2'><input type="radio" name="p_type" value="" class="weixinradio"/><label for=""><img src="/images/bank/alipay.gif" alt="支付宝支付" disabled="disabled"></label></li>
                            <li class="bank" id="bank1" data-type='3'><input type="radio" name="p_type" value="" class="aliradio"/><label for=""><img src="/images/bank/weixinpay.gif" alt="微信支付" disabled="disabled"></label></li>
                            <!-- <li class="bank" id="bank2" data-type='1'><input type="radio" name="p_type" value="" /><label for=""><img src="/images/bank/yeepay.jpg" alt="银联支付" disabled="disabled" style="width: 70px;"></label></li> -->
                        </ul>
                    </div>
                    <div class="button"><a href="javascript:void(0);" class="btn_submit disabled">确定付款</a></div>
                </div>
            
       </div>
       
    </div>
</div>
<!-- <div class="all_foot"><h2>Copyright @ 2018 www.hsy3.com All rights reserved 粤ICP备18003945号-2<br />华视软件 版权所有</h2></div> -->
<div class="qrcodeBox" style="z-index: 3000;position: absolute;top: 0;left: 0;">
    <div id='output'>
        请用微信扫描二维码完成支付！
    </div>
    <div id='outputTips'>
      请用微信扫描二维码完成支付！
    </div>
</div>
</body>
<script type="text/javascript">
      var order_num= getRequest().order_num;
      var sites  = getRequest().sites
      $(function() {
      getOrderMessage(order_num)
      $('.button').click(function() {
        console.log(222222, $('.bank.on').attr('data-type'))
        var type = $('.bank.on').attr('data-type')
        if (type == '2') {
          alipay()
        } else if (type == '3') {
          weixinpay() 
        } else {
          cardpay()
        }
      })
      var getIsPay = setInterval(function() {
        getOrderIsPay(order_num)
      }, 3000)
      setTimeout(function () {
        clearInterval(getIsPay)
      }, 180000)
    })
    $('.qrcodeBox').click(function(){
      getOrderIsPay(getRequest().order_num)
      $('.qrcodeBox').hide()
    })
 
    function getOrderMessage(order_num) {
      console.log(order_num)
      $.ajax({
        type: "post",
        url: '/getOrder',
        data: {
          order_num: order_num,
          sites:sites
        },
        dataType: "json",
        success:function(res){
          if (res.error_code === 'SUCCESS') {
            console.log(res)
            $('.order_money').html(res.result.list[0].order_money / 100)
            $('.order_num').html(res.result.list[0].order_num)
          }else{
            alert(res.reason)
          }
        }
      })
    }
    // 查询订单是否支付
    function getOrderIsPay(order_num) {
      console.log(order_num)
      $.ajax({
        type: "post",
        url: '/getOrderIsPay',
        data: {
          order_num: order_num,
          sites:sites
        },
        dataType: "json",
        success:function(res){
          if (res.error_code === 'SUCCESS') {
            console.log(res)
            if (res.result.order_status >= 1) {
              window.close()
            }
          }
        }
      })
    }
    function alipay() {
      var order_num = $('.order_num').html()
      $.ajax({
        type: "post",
        url: '/orderAlipay',
        data: {
          order_num: order_num,
          type: 2,
          sites
        },
        dataType: "json",
        success:function(res){
          if (res.error_code === 'SUCCESS') {
            window.location.href = res.result.url
          }else{
            alert(res.reason)
          }
        }
      })
    }
    function weixinpay() {
      var order_num = $('.order_num').html()
      $.ajax({
        type: "get",
        url: '/wxPayRouter/order?order_num=' + order_num + '&type=' + 3 + '&sites=' + sites,
        dataType: "json",
        success:function(res){
          if(res.error_code == 'SUCCESS'){
            // console.log(res.data)
            // jQuery('#output').empty();
            // jQuery('#output').qrcode(res.data.code_url);
            // $('.qrcodeBox').show()
            jQuery('.pay_choose').empty();
            var html="<h1>请用微信扫描二维码完成支付！</h1><div class='qrcode_pci'></div>"
            jQuery('.pay_choose').html(html)
            jQuery('.pay_choose').css('text-align','center')
            jQuery('.qrcode_pci').qrcode(res.result.code_url);
            // $('.qrcodeBox').show()
          }else{
            alert(res.reason)
          }

        }
      })
    }
    function cardpay() {
      console.log('银行卡支付')
      // var order_num = $('.order_num').val()
      // $.ajax({
      //   type: "post",
      //   url: '/orderAlipay',
      //   data: {
      //     order_num: order_num,
      //   },
      //   dataType: "json",
      //   success:function(res){
      //     if (res.error_code === 'SUCCESS') {
      //       $("#pay_k").zxxbox();
      //       window.location.href = res.result.url
      //     }
      //   }
      // })
    }
</script>
<style type="text/css">
  .qrcodeBox {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 1;
    /* background: #fff; */

  }
  .qrcodeBox #output{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -128px;
    margin-top: -128px;
  }
  #outputTips {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    margin-top: 15%;
  }
</style>
</html>