
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title> 充值中心</title>
    <link type="text/css" rel="stylesheet" href="/skin_2013/style/style.css?v=201710311048"/>

    <script src="/skin_2013/js/jquery-1.7.js" type="text/javascript"  language="javascript"></script>
    <script type="text/javascript" language="javascript" src="/skin_2013/js/jquery.zxxbox.3.0-min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/underscore-min.js"></script>
    <!--[if IE 6]>
        <script type="text/javascript" src="/skin_2013/js/ie6png.js"></script>
        <script type="text/javascript">
            DD_belatedPNG.fix('.top_Box img,.pay_tb1,.pay_tb2,.pay_tb3,.pay_tb4,.pay_tb5,.pay_tb6,.pay_tb7,.pay_tb8,.pay_tb9,.pay_tb10,.pay_xtb1,.pay_xtb2,.p_rtop img');
        </script>
    <![endif]-->
<script type="text/javascript">
    $(function(){
        $(":radio[name='p_card']").click(function(){
            if(!$(this).attr("price"))
            {
                $("#d_money").show();
                $("#s_money").html($("#p_money").val())
                $("#s_coin").html(CalcCoin(parseInt($("#p_money").val())))
            }
            else
            {
                $("#d_money").hide();
                $("#s_money").html($(this).attr("price"))
                $("#s_coin").html(CalcCoin(parseInt($(this).attr("price"))))
            }

        })
        $("#p_money").keydown(function(){
            if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)
                    && event.keyCode != 8
                    && event.keyCode != 13)
                return false;

        }).keyup(function(){
                    num = $(this).val()
                    coin = CalcCoin(parseInt(num))
                    if(parseInt(num) % 10 == 0)
                    {
                        $("#s_money").html(num)
                        $("#s_coin").html(coin)
                    }
                }).focusout(function()
                {
                    num = $(this).val()
                    if(parseInt(num) % 10 != 0)
                    {
                        $(this).val(10)
                        $("#s_money").html(10)
                        $("#s_coin").html(CalcCoin(10))
                    }
                })

        $("input:checked").click();

    })
    function CalcCoin(money)
    {
        coin = 100000.0;
        total = coin*money;
        return total;

    }
</script>
</head>
<body>
<div class="top_Box">
    <ul class="clearfix mt_5">
        <li class="left logo"><img title="" alt="" /></li>
        <li class="left top_tit mt_20">充值中心</li>
        <li class="nav t_r mt_10">
            <a href="http://www.bh7.jhzhidu.com">首页</a>
            

            <span>欢迎您，亲爱的会员</span>
        </li>
    </ul>
</div>
<div class="middle bg_f7 p_30 clearfix">
<div class="body_auto">


<div class="pay_left left">
<h1 class="clearfix">
    

        <span onclick="" class="p_tit1 t_bg1 t_opc" style="width: 106px" title="账户充值">账户充值</span>

        
        <span onclick="window.location.href='/pay/payvip'" class="p_tit2 t_bg2" style="width: 504px" title="购买VIP">购买VIP</span>
        
    
</h1>
    <div class="clearfix" id="pay_box">
        <ul class="left t_c pay_class" id="pay_c">
            
                
                <li class="select_on">
                    <a href="/pay/payvip">
                        <span class="payvip">网银支付VIP</span></a>
                </li>
                
            

        </ul>

        

<!--网银充值-->
<div class="pay_info">
    <form id="bank_pay" class="form_acc" target="_blank" action="/pay/pay_sub" method="post">
    <ul class="pay_txtbox">
    <li><b>您选择了<span class="col_09e">网银购买VIP</span>方式</b></li>
    <input id="p_ext1" name="p_ext1" type="hidden" value="" />
    <input id="p_param" name="p_param" type="hidden" value="" />
    <input id="p_note" name="p_note" type="hidden" value="" />
	<li class="pay_c1">充值站点：<span style="color:red;font-weight:bold;"></span> （请务必确认充值站点）</li>
    <li class="pay_c">用户ID： <b title="更换用户ID" ><img src="/skin_2013/images/change_acc.gif"/></b></li>
    <li class="pay_x clearfix" style="display:none">
        <p>用户ID：<input  id="userid2" type="text" class="pay_txt" onClick="clearDefaultText(this,'请输入您的ID')" value="" style="width: 178px"/>
            
            <!--
            <b title="确认用户ID" style="margin-left: 1px;cursor: pointer;" id="search"><img src="/skin_2013/images/ok_acc.png"/></b>--></p>
    </li>
    <li class="pay_tip clearfix" style="display:none">
        <div class="msg" style="margin-left: 70px;color:red;font-weight:bold;display:none">
        </div>
        <div class="users" style="margin-left: 70px;display:none" >
            <p style="color:red;font-weight:bold;">发现多个账号，请选择您要充值的账号：</p>
            <p class="left checked_radio">
            </p>
        </div>
    </li>
    
    <li class="clearfix">

        <span class="left">充值金额：</span>
            <p class="left checked_radio">
            
                
                    <span  class="rd_on"><label for="coin_pay_vip2"><input id="coin_pay_vip2"  checked="checked" name="p_card" type="radio" value="coin_pay_vip2" price="580"/> 580元：终身VIP+1200万币</label></span>
                
            
            
        </p>
    </li>
    
</ul>
<script type="text/javascript">
    $(function(){
        $(":radio[name='p_card']").click(function(){
            if(!$(this).attr("price"))
            {
                $("#d_money").show();
                $("#s_money").html($("#p_money").val())
                $("#s_coin").html(CalcCoin(parseInt($("#p_money").val())))
            }
            else
            {
                $("#d_money").hide();
                $("#s_money").html($(this).attr("price"))
                $("#s_coin").html(CalcCoin(parseInt($(this).attr("price"))))
            }

        })
        $("#p_money").keydown(function(){
            if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)
                    && event.keyCode != 8
                    && event.keyCode != 13)
                return false;

        }).keyup(function(){
                    num = $(this).val()
                    coin = CalcCoin(parseInt(num))
                    if(parseInt(num) % 50 == 0)
                    {
                        $("#s_money").html(num)
                        $("#s_coin").html(coin)
                    }
                }).focusout(function()
                {
                    num = $(this).val()
                    if(parseInt(num) % 50 != 0)
                    {
                        $(this).val(50)
                        $("#s_money").html(50)
                        $("#s_coin").html(CalcCoin(50))
                    }
                })

        $("input:checked").click();

    })
    function CalcCoin(money)
    {
        coin = 100000.0;
        total = coin*money;
        return total;

    }
</script>
    <ul class="f_14 mt_20 pl_20 mb_20">
        
            
                <input id="p_type" name="p_type" type="hidden" value="165249c4-005b-11e5-8115-1051721c3a52">
            
        
        <li class="pay_btn t_c mt_20"><input type="button" value="确定充值，去网银付款" class="w_220"/></li>
    </ul>
    </form>
</div>
<!--网银充值end-->

    </div>
</div>



<div class="pay_right right">
    <ul class="p_rtop">
        
        
        <li class="clearfix">
            <i><img src="/skin_2013/images/r_xtb2.png"/></i>
                    <span class="left r_class">
                    	客户服务热线：</br>
                        
                        <b>0793-8268696</b>
                        
                    </span>
        </li>

        <li class="clearfix">
            <i><img src="/skin_2013/images/r_xtb3.png"/></i>
                    <span class="left">
                        
                    	<a href="http://wpa.qq.com/msgrd?v=3&uin=7810173&site=在线咨询&menu=yes" class="r_class" title="在线咨询"><b class="qq_1 qq_1s"></b></a>
                        
                        
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=7810173&site=在线咨询&menu=yes" class="r_class" title="VIP销售"><b class="qq_2 qq_2s"></b></a>
                        
                    </span>
        </li>
        
    </ul>
    <ul class="r_ts">
        <li><b>温馨提示</b></li>
        <li>如果您在充值过程中遇到什么问题请及时与客服联系！</li>
        <li>
            1.充值后请保存好订单号码，以备核对。</br>
            2.如果充值遇到问题请联系客服。</br>
            3.请保管好你的密码，以免丢失号。
        </li>
    </ul>
</div>
</div>
</div>
<div class="foot_Box">
    <ul class="body_auto">

        <li class="mt_20">
        	<span class="right">
            </span>
            
                
                    警方提示防诈骗、远离黄赌毒<br>
                    <br>
                    Copyright (C) 2010-2011  All Rights Reserved XRSystem 版权所有
                
            
        </li>
    </ul>
</div>
<div id="pay_k" style="display:none">
    <div class="pay_k col_55">
        <h2><b class="right close" title="关闭"></b> 登录网上银行付款</h2>
        <ul class="mt_20">
            <li>充值完成前请不要关闭此窗口。完成充值后请根据你的情况点击下面的按钮：</li>
            <li><b>请在新开网上储蓄卡页面完成付款后再选择。</b></li>
            <li>或 <span class="col_09e">返回重新选择充值方式</span></li>
            <li class="btn t_c mt_20">
                <a href="javascript:;"><span>已完成充值</span></a>
                <a href="#"><span>充值遇到问题</span></a>
            </li>
        </ul>
    </div>
    <div class="block_Bg"></div>
</div>
</body>
</html>